
nav{
  background-color: rgba(0,0,0,0.4);
  max-width: 300px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 1.7rem;
  position: sticky;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
  top: 90%;
}
nav a{
  background-color: transparent;
  padding: 0.3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav a:hover{
  background-color: #dedede;
}
nav a.active{
  background-color: #dedede;
}