

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  height: 2000px;
  background-color: var(--color-white);
  color: var(--font-color);
  margin: 0;
  padding: 0;
  line-height: 1.7;
  background-image: url(../public/texture3.avif);
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  overflow: hidden;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif,Lucida;
  font-size: 16px;
}
:root{
  --font-color: #00000d;
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77,181,255,0.4);
  --color-white: #fff;
  --color-light: rgba(255,255,255,0.6);

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-ms:90%;
}
html{
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  display: none;
}